/*!
Rebecca bennitt portfolio -- customizing the css of materializecss */

/*fonts*/

html {
	font-family:'Source Sans Pro', sans-serif;
	 }

.slab {
	font-family: 'Arbutus Slab', serif;
}


.banner {
    background-position: 50% 50%;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 484px;
    position: absolute;
    text-decoration: none solid rgb(255, 255, 255);
    text-rendering: optimizeLegibility;
    width: 100%;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 586.5px 242px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 586.5px 242px;
    font-family: 'Montserrat', sans-serif;
}

